/* nodo principal*/
:root{
   --body: linear-gradient(135deg,#145263,#145263 6%, #1b6e85 25%, 45%, #037e7e 55%, #029797 94% );
    
    --theme-color: #8BCCDD;
    --primary-color: #037e7e;
    --secundary-color:#000000;
    --text-color-inverse:#037e7e;
    --text-color: white;
    --navbar-shallow-color: rgb(65, 64, 66);
    --menu-mobile-background-color:#D6EEF4;
    --blue: #022b2b;
    --invisible: rgba(255, 255, 255, 0.253);
    --cream: #feaecef;
  }
/*
#con::-webkit-scrollbar{
    width: 50px;
    background: black;
  }*/
  /*.container::-webkit-scrollbarY{
    width: 50px;
    background: black;
  }*/
 

body {
  
  width: 100vw;
  height: 100%;
  padding-top: 70px;
  background: linear-gradient(135deg,#145263,#145263 6%, #1b6e85 25%, 45%, #037e7e 55%, #029797 94% );
  color: var(--text-color);
    font-family: 'Acme', sans-serif;
   filter: progid: DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#003073', endColorstr='#029797');
   /*background-image: url(//img.alicdn.com/tps/TB1d.u8MXXXXXXuXFXXXXXXXXXX-1900-790.jpg);
   */ background-size: 100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0, var(--primary-color)), color-stop(100%, #8BCCDD));
    background-image: -webkit-linear-gradient(135deg, var(--primary-color), #8BCCDD);
    background-image: -moz-linear-gradient(45deg, var(--primary-color), #8BCCDD);
    background-image: -ms-linear-gradient(45deg, var(--primary-color) 0, #029797 100%);
    background-image: -o-linear-gradient(45deg, var(--primary-color), #029797);
    background-image: linear-gradient(135deg, var(--primary-color), #029797);
    overflow-x: hidden;
    text-align: center;
    margin: 0px;
  }
  
h4{
   color: #D6EEF4; 
}
a{
    text-decoration: none;
    color: var(--text-color);
}


#script{
/*  z-index: 100;*/
width: 100%;
height: 400px;
}

.fondo {
  background: url('https://cdn.computerhoy.com/sites/navi.axelspringer.es/public/media/image/2020/02/lenguaje-programacion-1859691.jpg')
    no-repeat center center/cover;
  position: absolute;
  background-size:cover;
  background-attachment: fixed; 
  top: -30px;
  left: -30px;
  width: 100vw;
  height: calc(100vh + 150px);
  margin: 0 auto;
  filter: blur(10px);
z-index: -1;
}

.bg{
  /*
 background: url('https://cdn.capitalradio.es/embed/1ddac4a8fcc03a2c8f54c82f41618223314/codigo-binario.png?imagick=1&size=1250')
  no-repeat center center/cover;*/
display: grid;
filter: blur(70px);

}
.loading-text {
 position: relative;
  top: 150px;
  font-size: 100px;
  color: #fff;
  z-index: 55;
}