

.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  padding-right: 0px;
  padding: 30px  20px;
  z-index: 100; 
}

.scroll{
  background: rgba(0, 0, 0, 0.575);
  color: white ;
  padding: 5px 10px;
  padding-right: 0px;
  padding-left: 0px;
  transition: 1.5s;
  position: fixed;
}
.scroll .menu a::after{
  content:"";
   background-color:var(--theme-color);
   position: absolute;
   left: 0;
   top: calc(100% + 4px);
   width: 100%;
   height: 4px;
   right: 0px;
    opacity: 0; 
    transition: opacity 0.3s;
  }
  .scroll .menu a:hover{
    color: var(--text-color);
    transition: opacity 0.4s;
  }
  
.topnav {
  display: flex;
  justify-content: space-between;
 padding: 10px;
 padding-right: 30px;
  max-width: 1580px;

}

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.logo img {
  border-radius: 50%;
}


.menu {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap; 
  list-style: none;
  margin: 0;
  margin-right: 5px;
  padding: 0;
}
.menu li {
  align-items: center; 
  padding: 0 15px;
}
.menu a {
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: 0.5s;
  position: relative;
}
.menu a::after{
content:"";
 background-color:var(--secundary-color);
 position: absolute;
 left: 0;
 top: calc(100% + 4px);
 width: 100%;
 height: 4px;
  opacity: 0; 
  transition: opacity 0.3s;
  animation: animat 3sg alternate none iteration-count linear forwards;
}
@keyframes animat {
  
}
.menu a:hover{
  color: var(--blue);
  transition: opacity 0.4s;
}
.menu a.selected::after,
.menu a:hover::after{
  opacity: 0.8;
}

.open-menu {
  display: none;
}
@media (max-width: 908px){
  .topnav{
    display: flex;
    justify-content: space-between;
    max-width: 1580px;
    margin: 0 auto;
    margin-right: -20px;
    z-index: 100;   
  }
  .menu a {
    font-size: 12px;
    font-weight: 900; 
     }
     .scroll .menu_opened  a:hover,
     .scroll .menu_opened a.selected{
        color: var(--secundary-color);
      }
     .open-menu {
      display: block;
    }
     .menu{
      flex-direction: column; 
      position: fixed;
      margin-top: 75px;
      margin-left: 0px;
      left: 0;
      margin-right: 0px;
      width: 50%;
      height: 500px;
      background-color: var(--menu-mobile-background-color);
      height: 500px;
      align-items: center;
      justify-content: center;
      opacity: 0; 
      pointer-events: none;
      transition: transform 0.6s linear, opacity 0.6s linear;
      z-index: 100;   
     
     }
     .menu.animation{
      transform: translate(-30px,0);
      -webkit-transform: translate(-10%,0); /** Chrome & Safari **/
      -o-transform: translate(-10%,0); /** Opera **/
      -moz-transform: translate(-10%,0); /** Firefox **/
      
      position: absolute;
      transition: all 2s ease-in-out;
      -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
      -moz-transition: all 2s ease-in-out; /** Firefox **/
      -o-transition: all 2s ease-in-out; /** Opera **/
  
    }
    .move-left{
      transform: translate(10px,0);
      position: absolute;
      transition: all 2s ease-in-out;
      -webkit-transition: all 2s ease-in-out; /** Chrome & Safari **/
      -moz-transition: all 2s ease-in-out; /** Firefox **/
      -o-transition: all 2s ease-in-out; /** Opera **/
  }
  .menu li {
    padding: 0;  
    transform: rotateY(0deg);
    transition: 3s;
  }
  
  .menu a {
    color: var(--text-color-inverse);
    font-size: 20px;
    font-weight: 900; 
    line-height: 60px;
    text-transform: uppercase;
  }
  .scroll .menu{
    margin-right: -100px;
 }
 

  #open-icon button{
    background: none;
    border: 0;
    cursor: pointer;
    padding: 0;
    width: 60px;
    height: 60px;
  }
   #open-icon button span{
    border-radius: 5px;
    background: white;
    display: block;
    width: 60%;
    margin: 5px auto;
    height: 2px;
    animation-duration: 1s;
    animation-fill-mode: forwards; /* corre la animacion y se queda se indica en la animacion*/
}
#open-icon button.open .top-line{
  animation-name: top-line-animation;
}
#open-icon button.open .middle-line{
  animation-name: middle-line-animation;
}
#open-icon button.open .bottom-line{
  animation-name: bottom-line-animation;
}

#open-icon button .top-line{
  animation-name: top-line-animation-close;
}
#open-icon button .middle-line{
  animation-name: middle-line-animation-close;
}
#open-icon button .bottom-line{
  animation-name: bottom-line-animation-close;
}

@keyframes  top-line-animation{
    50%, 100%{
      margin: 0 auto;
      transform: translateY(2px) rotate(-45deg);
    }
}
@keyframes  bottom-line-animation{
  50%, 100%{
    margin: 0 auto;
    transform: translateY(-2px) rotate(45deg);
  }
}
@keyframes  middle-line-animation{
  20%, 100%{
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
}
@keyframes  top-line-animation-close{
 0%{/* aqui se queda como quedo la propiedad con el efecto */
    margin: 0 auto;
    transform: translateY(2px) rotate(-45deg);
  }
  50%, 100%{
    /*Aqui cambia a como estaba inicialmente */
    margin: 5px auto;
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes  bottom-line-animation-close{
  0%{
    margin: 0 auto;
    transform: translateY(-2px) rotate(45deg);
  }
  50%, 100%{
    margin: 5px auto;
    transform: translateY(0px) rotate(0deg);
  }
}
@keyframes  middle-line-animation-close{
  0%{
    margin: 0 auto;
    width: 0;
    opacity: 0;
  }
  20%, 100%{
    margin: 0 auto;
    width: 60%;
    opacity: 1;
  }
}
  .menu_opened {
    opacity: 1; 
    pointer-events: all; 
  }
  
  .open-menu:focus:not(:focus-visible) {
    outline: none;
  }
 
  .menu a::after{
  content: none;
  }
 button.open-menu:hover{
   background: rgba(0, 0, 0, 0);
 }
}
@media (max-width: 660px) {   
  .menu  {
    width: 50%;
  }
 
 
}
@media (max-width: 573px) {
  .menu{
    width: 50%;
    z-index: 100;
  }
  .logo {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: 500;
    color: var(--text-color);
  
  }
  .logo img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .menu_opened a{
    font-size: 15px;
    
  }  
}
